{% extends 'base.html.twig' %}

{% block body %}

    {% if app.session.get('user_photo') is not null and file_exists('uploads/photos/photos' ~ app.session.get('user_photo')) %}
        <img src="{{ asset('uploads/photos/photos/' ~ participant.id ~ '.' ~ 'webp') }}" alt="User photo">
    {% else %}
        <img src="{{ asset('services/default.webp') }}" alt="Default User photo">
    {% endif %}


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Username : {{ participant.username }}</h5>
            <p class="card-text">Nom : {{ participant.nom }}</p>
            <p class="card-text">Prénom : {{ participant.prenom }}</p>
            <p class="card-text">Téléphone : {{ participant.telephone }}</p>
            <p class="card-text">Email : {{ participant.mail }}</p>
            <p class="card-text">Campus : {{ participant.campus.nom }}</p>
        </div>
{% endblock %}

{% block title %}
Detail {{ participant.username }}
{% endblock %}