{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/homeCss.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="my-3">Date du jour : {{ 'now'|date('d/m/Y') }}</h2>
        {% if is_granted("IS_AUTHENTICATED") %}
            <h2 class="my-3">Participant : {{ app.user.username }}</h2>
        {% else %}
            <h2 class="my-3">Aucun utilisateur connecté</h2>
        {% endif %}

        <h2 class="my-3">Filtrer les sorties</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Search</button>
        {{ form_end(form) }}

        {% for sortie in sorties %}
            <div class="card pt-2 active pb-0 px-3 shadow-sm p-3 mb-3 bg-white rounded">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-12 ">
                            {% if is_granted("PERM_BOUTTON_AFFICHER", sortie) %}
                                <a href="{{ path('sortie_view', {'id': sortie.id}) }}"
                                   class="btn btn-black" style="text-decoration: none;" data-wow-delay="0.7s">
                                    <h4 class="card-title "><b>{{ sortie.nom }}</b></h4>
                                </a>
                            {% else %}
                                 <h4 class="card-title "><b>{{ sortie.nom }}</b></h4>
                            {% endif %}
                        </div>
                        <div class="col">
                            <h6 class="card-subtitle mb-2 text-muted">
                                <p class="card-text text-muted small ">
                                    <img src="https://img.icons8.com/metro/26/000000/star.png" class="mr-1 " width="19"
                                         height="19" id="star" alt="">
                                    <span class="vl mr-2 ml-0"></span>
                                    <span>{{ sortie.etat.libelle }}</span>
                                    <span class="vl ml-1 mr-2 "></span>
                                    <span>Organisé par</span>
                                    <span class="font-weight-bold">
                                        <a href="{{ path('participants_detail', {'id': sortie.organisateur.id }) }}"><strong>{{ sortie.organisateur.username }}</strong></a>
                                    </span>
                                    <span>, la sortie se déroulera le <strong>{{ sortie.dateHeureDebut|format_datetime('full', 'short', locale='fr') }}</strong></span>
                                    <span class="vl ml-1 mr-2 "></span>
                                    <span>Les incriptions prendront fin le <strong>{{ sortie.dateLimiteInscription|format_datetime('full', 'short', locale='fr') }}</strong></span>
                                </p>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="card-footer bg-white px-0 ">
                    <div class="row">
                        <div class=" col-md-auto ">
                            <span>{{ sortie.listInscrit.count }}/{{ sortie.nbInscriptionMax }}</span>
                            <span class="vl ml-3"></span>
                            {% if is_granted("PERM_BOUTTON_AFFICHER", sortie) %}
                                <a href="{{ path('sortie_view', {'id': sortie.id}) }}"
                                   class="btn btn-outlined btn-black text-muted bg-transparent link" data-wow-delay="0.7s">
                                    <img src="{{ asset('images/logoOeil.svg') }}" width="19" height="19"
                                         alt="Logo afficher">
                                    <small>Afficher</small>
                                </a>
                            {% endif %}
                            {% if is_granted("PERM_BOUTTON_MODIFIER", sortie) %}
                                <a href="{{ path('sorties_update', {'id': sortie.id}) }}"
                                   class="btn btn-outlined btn-black text-muted bg-transparent link" data-wow-delay="0.7s">
                                    <img src="{{ asset('images/logoModifier.svg') }}" width="19" height="19"
                                         alt="Logo modifier">
                                    <small>Modifier</small>
                                </a>
                            {% endif %}
                            {% if is_granted("PERM_BOUTTON_PUBLIER", sortie) %}
                                <a href="{{ path('sorties_publier', {'id': sortie.id}) }}"
                                   onclick="return confirm('Êtes-vous sur de vouloir publier cette sortie ?')"
                                   class="btn btn-outlined btn-black text-muted bg-transparent link" data-wow-delay="0.7s">
                                    <img src="{{ asset('images/logoPublier.svg') }}" width="19" height="19"
                                         alt="Logo publier">
                                    <small>Publier</small>
                                </a>
                            {% endif %}
                            {% if is_granted("PERM_BOUTTON_ANNULER", sortie) %}
                                <a href="{{ path('sorties_annuler_form', {'id': sortie.id}) }}"
                                   onclick="return confirm('Êtes-vous sur de vouloir annuler cette sortie ?')"
                                   class="btn btn-outlined btn-black text-muted bg-transparent link" data-wow-delay="0.7s">
                                    <img src="{{ asset('images/logoAnnuler.svg') }}" width="19" height="19"
                                         alt="Logo annuler">
                                    <small>Annuler</small>
                                </a>
                            {% endif %}
                            {% if is_granted("PERM_BOUTTON_AFFICHER", sortie) == false %}
                                <a href="{{ path('app_login') }}"
                                   class="btn btn-outlined btn-black text-muted bg-transparent link" data-wow-delay="0.7s">
                                    <small>Connexion nécessaire</small>
                                </a>
                            {% endif %}

                            <span class="vl ml-3"></span>
                        </div>

                        <div class="col-md-auto ">
                            <ul class="list-inline">
                                {% for participant in sortie.listInscrit %}
                                    <li class="list-inline-item">
                                        <a href="{{ path('participants_detail', {'id': participant.id }) }}">
                                            {% if file_exists(realpath('uploads/photos/photos/' ~ participant.id ~ '.webp')) %}
                                                <img src="{{ asset('uploads/photos/photos/' ~ participant.id ~ '.webp') }}"
                                                     class="rounded-circle img-fluid test" width="35" height="35"
                                                     alt="User photo" title="{{ participant.username }}" >
                                            {% else %}
                                                <img src="{{ asset('default.webp') }}" class="rounded-circle img-fluid test"
                                                     width="35" height="35" alt="Default User photo" title="{{ participant.username }}">
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% if is_granted("PERM_BOUTTON_DESINSCRIPTION", sortie) %}
                                    <li class="list-inline-item">
                                        <a href="{{ path('participants_desinscription_sortie', {'id': sortie.id}) }}"
                                           class="btn btn-outlined btn-black text-muted bg-transparent link"
                                           data-wow-delay="0.7s">
                                            <img src="https://img.icons8.com/ios/50/000000/minus.png" width="30"
                                                 height="30 " class="more" alt="Désinscription">
                                        </a>
                                    </li>
                                {% endif %}
                                {% if is_granted("PERM_BOUTTON_INSCRIPTION", sortie) %}
                                    <li class="list-inline-item">
                                        <a href="{{ path('participants_inscription_sortie', {'id': sortie.id}) }}"
                                           class="btn btn-outlined btn-black text-muted bg-transparent link"
                                           data-wow-delay="0.7s">
                                                <img src="https://img.icons8.com/ios/50/000000/plus.png" width="30"
                                                     height="30 " class="more" alt="Inscription">
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if is_granted("PERM_BOUTTON_USER_CONNECTED") %}
            <a href="{{ path('sorties_create') }}" class="btn btn-primary" id="createSortieButton">Créer une sortie</a>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const scrollButton = document.querySelector('.floating-btn');
            scrollButton.addEventListener('click', () => {
                const createSortieButton = document.getElementById('createSortieButton');
                if (createSortieButton) {
                    createSortieButton.textContent = 'Go touch grass';
                    createSortieButton.style.backgroundColor = 'green';
                    createSortieButton.style.borderColor = 'green';
                }
            });
        });
    </script>
{% endblock %}