{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="my-3">Date du jour : {{ 'now'|date('d/m/Y') }}</h2>
        {% if is_granted("IS_AUTHENTICATED") %}
            <h2 class="my-3">Participant : {{ app.user.username }}</h2>
        {% else %}
            <h2 class="my-3">Aucun utilisateur connecté</h2>
        {% endif %}

        <h2 class="my-3">Filtrer les sorties</h2>
        <form action="{{ path('main_home') }}" method="get" class="mb-3">
            {#         choix deroulant permis les trois campus de la base de données #}
            <label for="campus">Campus </label>
            <select name="campus" id="campus">
                {% for campus in campuses %}
                    <option value="{{ campus.id }}"
                            {% if campus.id == app.request.query.get('campus') %}selected{% endif %}>{{ campus.nom }}</option>
                {% endfor %}
            </select>
            {#         rechercher par mot clé #}
            <label for="keyword">Le nom de la sortie contient : </label>
            <input type="text" name="keyword" id="keyword" value="{{ app.request.query.get('keyword') }}">
            {#         entre deux dates #}
            <label for="dateDebut">Entre </label>
            <input type="date" name="dateDebut" id="dateDebut">
            <label for="dateFin"> et </label>
            <input type="date" name="dateFin" id="dateFin">

            {% if is_granted("IS_AUTHENTICATED") %}
                {#         boutons selects  pour les sorties dont je suis l'organisateur, auxquelles je suis inscrit, celles auxquelles je ne suis pas inscrit et les sorties passées #}
                <input type="checkbox" name="organisateur" id="organisateur" value="{{ app.user.username }}">
                <label for="organisateur">Sorties dont je suis l'organisateur/trice</label>
                <input type="checkbox" name="inscrit" id="inscrit">
                <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>
                <input type="checkbox" name="nonInscrit" id="nonInscrit">
                <label for="nonInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                <input type="checkbox" name="sortiesPassees" id="sortiesPassees">
                <label for="sortiesPassees">Sorties passées</label>
            {% endif %}

            {#         bouton pour valider le formulaire #}
            <input type="submit" value="Rechercher" class="btn btn-primary">
        </form>

        <h2 class="my-3">Liste des sorties</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                {% if app.user %}
                    <th>Inscrit</th>
                {% endif %}
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</td>
                    <td>{{ sortie.listInscrit.count }}/{{ sortie.nbInscriptionMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    {#                     affiche une croix si l'utilisateur connecté est inscrit à la sortie et un vide sinon #}
                    {% if is_granted("IS_AUTHENTICATED") %}
                        <td>{% if sortie.listInscrit.contains(app.user) %}X{% endif %}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('participants_detail', {'id': sortie.organisateur.id }) }}">{{ sortie.organisateur.username }}</a>
                    </td>
                    <td>
                        {% if is_granted("PERM_BOUTTON_AFFICHER", sortie) %}
                        <a href="{{ path('sortie_view', {'id': sortie.id}) }}">Afficher</a>
                        {% endif %}
                        {% if is_granted("PERM_BOUTTON_MODIFIER", sortie) %}
                            - <a href="{{ path('sorties_update', {'id': sortie.id}) }}">Modifier</a>
                        {% endif %}
                        {% if is_granted("PERM_BOUTTON_PUBLIER", sortie) %}
                            - <a href="{{ path('main_home', {'id': sortie.id}) }}">Publier</a>
                        {% endif %}
                        {% if is_granted("PERM_BOUTTON_ANNULER", sortie) %}
                            - <a href="{{ path('sorties_annuler_form', {'id': sortie.id}) }}">Annuler</a>
                        {% endif %}
                        {% if is_granted("PERM_BOUTTON_DESINSCRIPTION", sortie) %}
                            - <a href="{{ path('participants_desinscription_sortie', {'id': sortie.id}) }}">Se désister</a>
                        {% endif %}
                        {% if is_granted("PERM_BOUTTON_INSCRIPTION", sortie) %}
                            - <a href="{{ path('participants_inscription_sortie', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                        {% if is_granted("PERM_BOUTTON_AFFICHER", sortie) == false %}
                            <a href="{{ path('app_login') }}">Connexion nécessaire</a>
                        {% endif %}

                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>

        {% if is_granted("PERM_BOUTTON_USER_CONNECTED") %}
            <a href="{{ path('sorties_create') }}" class="btn btn-primary">Créer une sortie</a>
        {% endif %}
    </div>
{% endblock %}