{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="my-3">Date du jour : {{ 'now'|date('d/m/Y') }}</h2>
        {% if is_granted("IS_AUTHENTICATED") %}
            <h2 class="my-3">Participant : {{ app.user.username }}</h2>
        {% else %}
            <h2 class="my-3">Aucun utilisateur connecté</h2>
        {% endif %}

        <h2 class="my-3">Filtrer les sorties</h2>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Search</button>
        {{ form_end(form) }}

        <h2 class="my-3">Liste des sorties</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                {% if app.user %}
                    <th>Inscrit</th>
                {% endif %}
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</td>
                    <td>{{ sortie.listInscrit.count }}/{{ sortie.nbInscriptionMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    {#                     affiche une croix si l'utilisateur connecté est inscrit à la sortie et un vide sinon #}
                    {% if is_granted("IS_AUTHENTICATED") %}
                        <td>{% if sortie.listInscrit.contains(app.user) %}X{% endif %}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('participants_detail', {'id': sortie.organisateur.id }) }}">{{ sortie.organisateur.username }}</a>
                    </td>
                    <td>
                        {% if is_granted("PERM_BOUTTON_AFFICHER", sortie) %}
                        <a href="{{ path('sortie_view', {'id': sortie.id}) }}">Afficher</a>
                        {% endif %}
                        {% if is_granted("PERM_BOUTTON_MODIFIER", sortie) %}
                            - <a href="{{ path('sorties_update', {'id': sortie.id}) }}">Modifier</a>
                        {% endif %}
                        {% if is_granted("PERM_BOUTTON_PUBLIER", sortie) %}
                            - <a href="{{ path('main_home', {'id': sortie.id}) }}" onclick="return confirm('Êtes-vous sur de vouloir publier cette sortie ?')">Publier</a>
                        {% endif %}
                        {% if is_granted("PERM_BOUTTON_ANNULER", sortie) %}
                            - <a href="{{ path('sorties_annuler_form', {'id': sortie.id}) }}" onclick="return confirm('Êtes-vous sur de vouloir annuler cette sortie ?')">Annuler</a>
                        {% endif %}
                        {% if is_granted("PERM_BOUTTON_DESINSCRIPTION", sortie) %}
                            - <a href="{{ path('participants_desinscription_sortie', {'id': sortie.id}) }}">Se désinscrire</a>
                        {% endif %}
                        {% if is_granted("PERM_BOUTTON_INSCRIPTION", sortie) %}
                            - <a href="{{ path('participants_inscription_sortie', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                        {% if is_granted("PERM_BOUTTON_AFFICHER", sortie) == false %}
                            <a href="{{ path('app_login') }}">Connexion nécessaire</a>
                        {% endif %}

                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>

        {% if is_granted("PERM_BOUTTON_USER_CONNECTED") %}
            <a href="{{ path('sorties_create') }}" class="btn btn-primary">Créer une sortie</a>
        {% endif %}
    </div>
{% endblock %}