{% extends 'base.html.twig' %}

{% block title %}{{ sortie.nom }}{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>

{% endblock %}

{% block script %}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var sortieLat = {{sortie.lieu.latitude}};
            var sortieLng = {{sortie.lieu.longitude}};
            var map = L.map('sortieMap').setView([sortieLat, sortieLng], 13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            var marker = L.marker([sortieLat, sortieLng]).addTo(map);
        });
    </script>
{% endblock %}



{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>{{ sortie.nom }}</h1>
        </div>

    {#affichage des informations de la sortie#}
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p>Date de la sortie : {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
                    <p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d/m/Y') }}</p>
                    <p>Durée : {{ sortie.duree }} minutes</p>
                    <br>
                    <div id="sortieMap" style="height: 250px;"></div>


                </div>

                <div class="col-md-6">
                    <p>Description et infos : {{ sortie.infoSortie }}</p>
                    <p>Places restantes : {{ sortie.nbInscriptionMax - sortie.listInscrit|length }} sur les {{ sortie.nbInscriptionMax }} places prévues</p>
                    <p>Campus : {{ sortie.campus.nom }}</p>
                    <p>Lieu : {{ sortie.lieu.nom }}</p>
                    <p>Rue : {{ sortie.lieu.rue }}</p>
                    <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
                    <p>Ville : {{ sortie.lieu.ville.nom }}</p>


                  <p>Latitude : {{ sortie.lieu.latitude }}</p>
                  <p>Longitude : {{ sortie.lieu.longitude }}</p>
                </div>
            </div>
        </div>
    </div>

    {% if is_granted("PERM_BOUTTON_MODIFIER", sortie) %}
        <a class="btn btn-warning" href="{{ path('sorties_update', {'id': sortie.id}) }}">Modifier</a>
    {% endif %}
    {% if is_granted("PERM_BOUTTON_PUBLIER", sortie) %}
        <a href="{{ path('sorties_publier', {'id': sortie.id}) }}" onclick="return confirm('Êtes-vous sur de vouloir publier cette sortie ?')">Publier</a>
    {% endif %}
    {% if is_granted("PERM_BOUTTON_ANNULER", sortie) %}
        - <a href="{{ path('sorties_annuler_form', {'id': sortie.id}) }}" onclick="return confirm('Êtes-vous sur de vouloir annuler cette sortie ?')">Annuler</a>
    {% endif %}
    {% if is_granted("PERM_BOUTTON_DESINSCRIPTION", sortie) %}
        <a class="btn btn-danger" href="{{ path('participants_desinscription_sortie', {'id': sortie.id}) }}">Se désister</a>
    {% endif %}
    {% if is_granted("PERM_BOUTTON_INSCRIPTION", sortie) %}
        <a class="btn btn-success" href="{{ path('participants_inscription_sortie', {'id': sortie.id}) }}">S'inscrire</a>
    {% endif %}

{#    affichage des participants#}

    <h2>Participants</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Nom</th>
        </tr>
        </thead>
        <tbody>
{#            tableau avec username puis nom complet#}
            {% for user in sortie.listInscrit %}
                <tr>
                    <td><a href="{{ path('participants_detail', {'id': user.id}) }}"> {{ user.username }} </a> </td>
                    <td>{{ user.prenom }} {{ user.nom|upper }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>




    {% block styles %}
        <style>
            .card {
                max-width: 800px;
                margin: 0 auto;
                padding: 20px;
            }

            .card-text {
                line-height: 1.5;
            }

            .btn {
                display: block;
                width: 200px;
                margin: 20px auto;
            }


        </style>
    {% endblock %}




{% endblock %}

