{% extends 'base.html.twig' %}

{% form_theme sortieForm 'form/form_theme.html.twig' %}

{% block body %}

    <br>
    <h2>{{ Title }}</h2>
    <br>

    <div class="main-container">
    <div class="form-container-create">

    {{ form_start(sortieForm) }}



        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionMax) }}
        {{ form_row(sortieForm.infoSortie) }}
        {{ form_row(sortieForm.campus) }}

       <div class="form-container-creerLieu">

           <div id="form-label-creerLieu">
               {{ form_label(sortieForm.lieu) }}
               {{ form_errors(sortieForm.lieu) }}
           </div>

           <div class="form-creerLieu">
                <div class="label-lieu">
                     {{ form_widget(sortieForm.lieu) }}
                </div>

                <div>
                     {% if is_granted("PERM_BOUTTON_USER_CONNECTED") %}
                          <a href="{{ path('lieux_create') }}" class="btn-creer" alt="Créer un nouveau lieu">+</a>
                     {% endif %}
                </div>

           </div>

       </div>

    {{ form_end(sortieForm) }}

    </div>
    <br>
    <button class="btn btn-primary">Validate !</button>

    </div>

{% endblock %}



