<nav class="navbar bg-dark">
    <div class="container-fluid">
{#        <a class="navbar-brand text-white" href="{{ path('main_home') }}"><img class="logo"#}
{#                                                                               src="{{ asset('images/getbukkitwhite.svg') }}"#}
{#                                                                               alt="image">Bucket-List</a>#}
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('main_home') }}">Home</a>
            </li>

{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{{ path('') }}">Villes</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{{ path('') }}">Campus</a>#}
{#            </li>#}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('main_home') }}">Accueil</a>
            </li>

            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('participants_modif_profil', {'id': app.user.id}) }}">Mon Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
            {% endif %}s
        </ul>
    </div>
</nav>