<nav class="navbar bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="{{ path('main_home') }}"><img class="logo"
                                                                               style="width: 75px; height: 75px;"
                                                                               src="{{ asset('images/lettre-coloree-s-fond-noir.png') }}"
                                                                               alt="image">Sortie ENI</a>
        <ul class="nav">
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{{ path('') }}">Villes</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{{ path('') }}">Campus</a>#}
{#            </li>#}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('main_home') }}">Accueil</a>
            </li>

            {% if is_granted("IS_AUTHENTICATED") %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('sorties_create') }}">Créer une sortie</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('participants_modif_profil', {'id': app.user.id}) }}">Mon Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
            {% endif %}s
        </ul>
    </div>
</nav>